@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
    /*background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;*/
}

img.welcome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.collapsible-header .row {
    width: 100%;
}

.preloader-wrapper, #search_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.preloader-wrapper.big {
    width: 100px !important;
    height: 100px !important;
}

.spinner-layer {
    border-color: #304ffe;
}

ul.pagination {
    display: block;
    margin-left: auto;
    width: fit-content;
    margin-right: auto;
}

.pagination li.active {
    background-color: #304ffe;
}

.input-field .prefix.active {
    color: #304ffe;
}

input[type="text"]:focus {
    border-bottom: 1px solid #304ffe !important;
    box-shadow: 0 1px 0 0 #304ffe !important;
}

@media only screen and (max-width: 600px) /*and (min-height: 720px)*/ {
    /*body {
        background-image: url(../img/1.png);
    }*/

    img.welcome {
        width: 50vw;
    }

    .collapsible-header img {
        width: 100%;
    }

    a.brand-logo span {
        display: none;
    }

    a.brand-logo img {
        height: 45px;
        margin-top: 6px;
    }
}

@media only screen and (min-width: 601px) /*and (min-height: 720px)*/ {
    /*body {
        background-image: url(../img/1.png);
    }*/

    img.welcome {
        width: 40vw;
    }

    a.brand-logo img {
        height: 20px;
    }
}

@media only screen and (min-width: 993px) /*and (min-height: 720px)*/ {
    /*body {
        background-image: url(../img/1.png);
    }*/

    img.welcome {
        width: 40vw;
    }

    a.brand-logo img {
        height: 20px;
    }
}

@media only screen and (min-width: 1201px) /*and (min-height: 720px)*/ {
    /*body {
        background-image: url(../img/1.png);
    }*/

    img.welcome {
        width: 30vw;
    }

    a.brand-logo img {
        height: 20px;
    }
}